:root {
  --clr-slate700: #334155;
  --clr-stone600: #57534e;
  --clr-blue950: #172554;
  --clr-blue400: #60a5fa;
  --clr-blue200: #bfdbfe;
  --clr-sky300: #7dd3fc;
  --clr-indigo950: #1e1b4b;
  --clr-indigo200: #c7d2fe;
  --clr-indigo50: #eef2ff;
  --clr-gray100: #f3f4f6;
  --clr-gray50: #f9fafb;
  --clr-red300: #fca5a5;

  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;

  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--clr-gray50);
}
